NODE_ENV=production
DATABASE_URI=mongodb://127.0.0.1:27017/payload?replicaSet=rs0&directConnection=true
CRON_SECRET=your-secure-cron-secret-change-in-production
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
PAYLOAD_SECRET=your-secure-payload-secret-min-32-chars-change-in-production
PREVIEW_SECRET=your-secure-preview-secret-change-in-production
RESEND_API_KEY=resend-api-key
S3_ACCESS_KEY_ID=admin
S3_SECRET_ACCESS_KEY=admin
S3_BUCKET=your-web-page-media
S3_ENDPOINT=http://localhost:8333
S3_REGION=us-east-1
TAILWIND_GENERATOR=your-tailwind-generator-url
USE_RESEND=true
IMAGE_HOSTS=http://localhost:3000
EMAIL_FROM_ADDRESS=noreply@yourwebpage.ca
EMAIL_FROM_NAME=Your Web Page (No Reply)
SMTP_HOST=smtp.purelymail.com
SMTP_PORT=587
SMTP_USER=noreply@yourwebpage.ca
SMTP_PASS=
SMTP_SECURE=true
CF_ACCESS_CLIENT_ID=
CF_ACCESS_CLIENT_SECRET=
SSH_PRIVATE_KEY=
SSH_HOST=
SSH_USER=
TUNNEL_TARGET_PORT_NETWORK=