# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# IDE
/.idea/*
!/.idea/runConfigurations

# testing
/coverage
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# next.js
/.next/
/out/

# production
/build

# environment
.env
.env.*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# media
/media

# misc
.DS_Store
*.pem

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*